.box,
.box2 {
  width: 400px;
  height: 200px;
}
.box {
  background-color: rgb(25, 0, 255);
  width: 100%;
}
.box2 {
  background-color: rgb(255, 251, 0);
  width: 100%;
}
h2 {
  font-size: 3rem;
  line-height: 150%;
  font-style: italic;
}
